<div class="author">
    <h1 class="author__heading">About</h1>
    <p class="author__body">I'm a curios reader who loves to explore different genres and topics.<br>Reading always open an imaginary world as your imagination. <br> So here I share some of books that I read and I want suggest you to raed..  </p>
  </div>